*{
    font-family: 'Roboto', sans-serif;
}
header{
    margin-bottom: 0px;
}
header h3{
    background-color: grey;
}
#view{
    margin: 0px;
    background-color:darkgrey;
    padding-bottom: 50px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.item_header{
    font-size: 3em;
    font-family: 'Bungee Shade', cursive;
    margin: 0px;
}
.miscHeader{
    font-family: 'Bungee', cursive;
}
.viewMessages:link{
    color: black;
    text-decoration: none;
}
.viewMessages:visited{
    color: black;
    text-decoration: none;
}
.viewMessages:hover{
    color: #770000;
}
.login{
    margin: 0px;
}
.loginForm{
    margin-bottom: 20px;
}
.user{
    font-family: 'Bungee', cursive;

}
header a{
    font-family: 'Bungee', cursive;
    color: black;
    text-decoration: none;
    margin-bottom: 0px;
}
header a:hover{
    color: #770000;
}
h5{
    font-family: 'Bungee', cursive;
    color: black;
    margin-bottom: 5px;
    margin-top: 5px;
}

.class{
    padding: 20px;
}

.user:link{
    color: black;
}
.user:visited{
    color: #770000;
}

.list_item_title:link{
        font-family: 'Bungee Inline', cursive;
        font-size: 1.5em;
        text-decoration: none;
        margin: 0px;
        color: black;
}
.list_item_title:visited{
        font-size: 1.5em;
        margin: 0px;
        color: #770000;
}
.author{
        font-family: 'Bungee Inline', cursive;
        font-size: 1em;
        margin: 0px;
}
.item_date{
    font-family: 'Bungee Inline', cursive;
    font-size: .8em;
    margin: 0px;
}
.joiners{
        font-family: 'Bungee Inline', cursive;
        font-size: 1em;
        margin: 0px;
}
#site_header{
    font-size: 3em;
    font-family: 'Bungee Shade', cursive;
    margin: 0px;
}
ul{
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}
ul li{
    margin-top: 5px;
    margin-bottom: 5px;
}
 /*for messages.html*/
 #messageBox{
     display: block;
 }
.messageTable{
    border-collapse: collapse;
}
.messageTable thead, th{
    border-bottom: 2px solid black;
}
.messageTable th a{
    text-decoration: none;
    color: black;
}
.messageTable th a:hover{
    color: blue;
    /*#770000;*/
}
.messageTable td a{
    text-decoration: none;
    color: black;
}
.messageTable td a:hover{
    color: blue;
}
.even{
    background-color: lightgrey;
}
