<div>
    <h3 class="item_header">Welcome {{data.username}}!</h3>
    <h4><a href="#/user/messages" class="viewMessages">View Messages?</a></h4>
    <h4>Before I Die I Want To...</h4>
    <form ng-submit="createItem(newItem)">
        Title: <input type="text" placeholder="item!" ng-model="newItem.title">
        Description: <input type="text" placeholder="description! of item!" ng-model="newItem.description">
        <select ng-model="newItem.joiner">
            <option ng-repeat="user in users"value="{{user._id}}">{{user.username}}</option>
        </select>
        <input type="submit" value="Add item!">
    </form>
    <h3 class="miscHeader">Your Bucket List!</h3>
    <ul>
        <li ng-repeat="item in lC.items | orderBy:'-completed'" >
        <p>
            <a href="#/user/{{item.author._id}}/{{item._id}}" class="list_item_title">"{{item.title}}"</a>,
            <br>
             {{item.description}}  | {{item.joiner[0].username}} | By: <span ng-if="item.author.username==data.username"> You!</span>
                 <span ng-if="item.author.username!=data.username">{{item.author.username}},</span> {{item.createdAt | date:'mediumDate'}} <input type="checkbox" checked='item.completed' ng-click='completeItem(item)' ng-model="item.completed">
         </p>
         </li>
    </ul>

    <h4>Other Bucket-Listers! (Click to view Profile!) Or... Search for them?</h4>
    <form>
        <input type="text" placeholder="Search not yet implemented!">
        <input type="submit" value="Search for User"></form>
    <ul>
        <li ng-repeat="user in users"><a href="#/user/{{user._id}}" class="user">{{user.username}}</a></li>
    </ul>
</div>
