<h3>Hello {{user}}!</h3>

<h4>These are your sent messages:</h4>
<table>
    <thead>
        <tr>
            <th>Recepient</th>
            <th>Message</th>
            <th>Time Sent</th>
        </tr>
    </thead>
    {{data._id}}
    <tbody>
        <tr ng-init="id = data._id" ng-repeat="message in userMessages" >
            <!-- ng-if="message.author == data.id" -->
            <td>{{message.recepient.username}}</td>
            <td>{{message.content}}</td>
            <td>{{message.createdAt | date:'medium'}}</td>
        </tr>
    </tbody>
</table>
