<h3>Now Viewing:</h3>

<h1 class="item_header">{{item.title}}</h1>

<h5 class="author">{{otherUser}}'s Bucket List Item...</h5>
<p class="item_date">Created on: {{item.createdAt | date:'mediumDate'}}</p>
<p style="border: 5px dotted black; padding: 10px; font-family: 'Roboto', sans-serif;">{{item.description}}</p>

People accompanying {{otherUser}}!
<ul>
    <li ng-repeat="joiner in item.joiner" class="joiners">
        <a href="#/user/{{joiner._id}}" class="list_item_title">{{joiner.username}}</a>
    </li>
</ul>


<div>
    Would you like to join/leave {{otherUser}}?
    <input type="checkbox" ng-change="clicked()" ng-model="boop.boop">
    <span></span>
</div>
