<div class="login">
    <h5>Login!</h5>
    <form ng-submit="login(user_data)" class="loginForm">
        <input type="text" ng-model="user_data.username" placeholder="enter username here" ng-minlength="3">
        <input type="submit">
    </form>

    <div ng-messages="registerForm.registerField.$error">
        <div ng-message="minlength">Your username must be at least 3 characters long!</div>
        <div ng-message="maxlength">Your username can only be up to 20 characters long!</div>
        <div ng-message="required" ng-show="registerForm.registerField.$dirty">You can't register a new user without a username!</div>
    </div>

    <span class='errors' style="color:red;">{{uC.errors}}</span>
    <span class='errors'>{{session_error}}</span>

    <h5>Register new user!</h5>
    <form name="registerForm" ng-submit="register(new_user)" class="loginForm">
        <input name="registerField" type="text" placeholder="username" ng-model="new_user.username"  pattern='^\w+$' ng-minlength='3' ng-maxlength='20' required>
        <input type="submit" value="Register new user!">
    </form>
    <div ng-messages='userForm.name.$error' class='errors'>
      <p ng-message='minlength'>The user name is too short</p>
      <p ng-message='required'>User name is required</p>
      <p ng-message='pattern'>Invalid name</p>
    </div>
</div>
